attrs==21.2.0
click==8.0.1
ddtrace==0.46.0
Deprecated==1.2.12
Flask==2.0.1
intervaltree==3.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
opentelemetry-api==1.3.0
opentelemetry-exporter-datadog==0.22b0
opentelemetry-sdk==1.3.0
opentelemetry-semantic-conventions==0.22b0
packaging==21.0
protobuf==3.17.3
pyparsing==2.4.7
six==1.16.0
sortedcontainers==2.4.0
tenacity==7.0.0
Werkzeug==2.0.1
wrapt==1.12.1
